<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Spirit</title>
    <script src="assets/js/home.js" defer></script>
    <script src="assets/js/nav.js" defer></script>
    <link rel="stylesheet" href="assets/css/style.css" />
  </head>


  <body>
    <header class="header-main">
      <nav class="nav-main">
        <ul>
          <li><a onclick="Link(0)">Products</a></li>
          <li><a onclick="Link(1)">Om os</a></li>
          <li><a onclick="Link(2)">Login</a></li>
          <!-- <li><a href="http://localhost:3000/">Home</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="http://localhost:3000/login">Login</a></li>
          <li><a href="http://localhost:3000/register">Register</a></li> -->
        </ul>
      </nav>
    </header>

    <main>
      <section id="products" class="productWrapper"></section>
    </main>

    <footer class="footer-main">
      <p><a href="https://www.instagram.com/matasdk/" target="_blank">Instagram</a></p>
      <p><a href="https://www.youtube.com/clubmatas" target="_blank">Youtube</a></p>
      <p><a href="https://www.facebook.com/matasdk/" target="_blank">Facebook</a></p>
    </footer>


  </body>

</html>